<h2 align="center"> Help Sheet </h2>

<div style="padding-left:100px; padding-right:100px; margin-top:50px;" class=jumbotron>
  <h4 align=center> Specific Topic: </h4>
  <div align="center" class="cat-list">
    <button type="button" class="list-group-item category-option">Bathroom Accessories & Hardware</button>
    <button type="button" class="list-group-item category-option">Bathroom Faucets</button>
    <button type="button" class="list-group-item category-option">Bathroom Mirrors</button>
    <button type="button" class="list-group-item category-option">Bathroom Safety & Accessibility</button>
    <button type="button" class="list-group-item category-option">Bathroom Sinks</button>
    <button type="button" class="list-group-item category-option">Building Materials</button>
    <button type="button" class="list-group-item category-option">Bathroom Vanities & Cabinets</button>
    <button type="button" class="list-group-item category-option">Bathtubs & Whirlpools</button>
    <button type="button" class="list-group-item category-option">Showers</button>
    <button type="button" class="list-group-item category-option">Toilets, Toilet Seats & Bidets</button>
  </div>
</div>

<div style="padding-left:100px; padding-right:100px; margin-top:50px;" class=jumbotron>
  <h4 align=center> Any Additional Notes: </h4>
  <textarea align="center" style="color:black;" placeholder="Any Additional Notes About Your Project" rows="5" cols="150">
  </textarea>
</div>

<form align="center" method="post" action="/proConfirmation">
  <button id="proButton" type="submit">SEND TO A PRO</button>
</form><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script src="javascripts/cat.js"></script>
