<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Home Depot Connect</title>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <!-- Custom CSS -->
    <link href="/stylesheets/category.css" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <!-- JS -->
  <script src="/javascripts/category.js"></script>
</html>
=======
TEST
>>>>>>> e41efa055c30f0e9bee9c228ed7dd4a804558c94
