  <div class="container" >
    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div align="center" class="masthead">
      <h3 class="text-muted">Home Depot Connect</h3>
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div align="center"><img align="center" src="images/home_depot.png" height="100"/></div>
      <h1 align="center">Sign in to view your previous projects or PROs.</h1>
      <p  align="center"class="lead">You can also just use the bottom boxes to find a PRO nearby right away. The bottom-left box is useful for tailoring a PRO to exactly your needs. The bottom-right box is good for choosing a PRO right away!</p>
            <form method="post" action="/signin">
              <p class="signin-button" align="center"><button class="btn btn-lg btn-success" href="#" role="button" type="submit">Sign In</button></p>
            </form>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div align="center" class="category-container">
          <h2 align="center">Select Your Category</h2>
          <div class="cat-list">
            <button type="button" class="list-group-item category-button">Appliances</button>
            <button type="button" class="list-group-item category-button">Bath</button>
            <button type="button" class="list-group-item category-button">Faucets</button>
            <button type="button" class="list-group-item category-button">Blinds</button>
            <button type="button" class="list-group-item category-button">Doors</button>
            <button type="button" class="list-group-item category-button">Building Materials</button>
            <button type="button" class="list-group-item category-button">Doors</button>
            <button type="button" class="list-group-item category-button">Windows</button>
            <button type="button" class="list-group-item category-button">Electrical</button>
            <button type="button" class="list-group-item category-button">Flooring</button>
            <button type="button" class="list-group-item category-button">Area Rugs</button>
            <button type="button" class="list-group-item category-button">Heating & Cooling</button>
            <button type="button" class="list-group-item category-button">Kitchen</button>
            <button type="button" class="list-group-item category-button">Lawn & Garden</button>
            <button type="button" class="list-group-item category-button">Lighting</button>
            <button type="button" class="list-group-item category-button">Ceiling Fans</button>
            <button type="button" class="list-group-item category-button">Outdoor Living</button>
            <button type="button" class="list-group-item category-button">Paint</button>
            <button type="button" class="list-group-item category-button">Plumbing</button>
            <button type="button" class="list-group-item category-button">Storage</button>
            <button type="button" class="list-group-item category-button">Tools</button>
            <button type="button" class="list-group-item category-button">Hardware</button>
          </div><br><br>
          <form method="post" action="/category">
            <button id="nextButton" type="submit" disabled >NEXT</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div align="center" class="pro-container">
          <h2>Select a PRO Immediately</h2>
          <div class="pro-list">
            <button type="button" class="list-group-item pro-item">Phil Collins
              <span class="label label-default label-pill pull-xs-right">Plumbing, Tools, Hardware</span>
              <span class="label label-default label-pill pull-xs-right pro-description">Very Helpful</span>
            </button>
            <button type="button" class="list-group-item pro-item">David Bowie
              <span class="label label-default label-pill pull-xs-right">Paint, Kitchen</span>
              <span class="label label-default label-pill pull-xs-right pro-description">Very Helpful</span>
            </button>
            <button type="button" class="list-group-item pro-item pro-item">Michael Jackson
              <span class="label label-default label-pill pull-xs-right">Bath, Doors, Electrical, Tools</span>
              <span class="label label-default label-pill pull-xs-right pro-description">Helpful</span>
            </button>
            <button type="button" class="list-group-item pro-item">Paul McCartney
              <span class="label label-default label-pill pull-xs-right">Appliances, Tools, Outdoor Living</span>
            </button>
            <button type="button" class="list-group-item pro-item">Kanye West
              <span class="label label-default label-pill pull-xs-right">Doors, Windows, Lighting</span>
            </button>
            <button type="button" class="list-group-item pro-item">Phil Collins
              <span class="label label-default label-pill pull-xs-right">Plumbing, Tools, Hardware</span>
            </button>
            <button type="button" class="list-group-item pro-item">David Bowie
              <span class="label label-default label-pill pull-xs-right">Paint, Kitchen</span>
            </button>
            <button type="button" class="list-group-item pro-item">Michael Jackson
              <span class="label label-default label-pill pull-xs-right">Bath, Doors, Electrical, Tools</span>
            </button>
            <button type="button" class="list-group-item pro-item">Paul McCartney
              <span class="label label-default label-pill pull-xs-right">Appliances, Tools, Outdoor Living</span>
            </button>
            <button type="button" class="list-group-item pro-item">Kanye West
              <span class="label label-default label-pill pull-xs-right">Doors, Windows, Lighting</span>
            </button><button type="button" class="list-group-item">Phil Collins
              <span class="label label-default label-pill pull-xs-right">Plumbing, Tools, Hardware</span>
            </button>
            <button type="button" class="list-group-item pro-item">David Bowie
              <span class="label label-default label-pill pull-xs-right">Paint, Kitchen</span>
            </button>
            <button type="button" class="list-group-item pro-item">Michael Jackson
              <span class="label label-default label-pill pull-xs-right">Bath, Doors, Electrical, Tools</span>
            </button>
            <button type="button" class="list-group-item pro-item">Paul McCartney
              <span class="label label-default label-pill pull-xs-right">Appliances, Tools, Outdoor Living</span>
            </button>
            <button type="button" class="list-group-item pro-item">Kanye West
              <span class="label label-default label-pill pull-xs-right">Doors, Windows, Lighting</span>
            </button>
          </div><br><br>
          <form align="center" method="post" action="/proConfirmation">
            <button id="confirmButton" disabled>CONFIRM</button>
          </form>
        </div>
     </div>
    </div>

    <br>
    <!-- Site footer -->
    <footer class="footer">
      <p align="center">&copy; 2016 Home Depot, Inc.</p>
    </footer>

  </div> <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
