  <div class="container" >
    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div align="center" class="masthead">
      <h3 class="text-muted">Home Depot Connect</h3>
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
    <div style="padding-left:200px; padding-right:200px;">
      <form class="form-signin" method="post" action="/createacc">
        <h2 align="center" class="form-signin-heading">Sign In</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputUserName" type="username" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputUserPassword" type="password" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      If you already have an account click <a href="www.google.com"> here </a>.
    </div>
    </div>
    <br>
    <!-- Site footer -->
    <footer class="footer">
      <p align="center">&copy; 2016 Home Depot, Inc.</p>
    </footer>

  </div> <!-- /container -->

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
